Repository Avdheshbhardwajz/financePortalBackend: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend.yaml, pipelines/frontend.yaml, pipelines/nginx.yaml

pipelines/backend.yaml:
  pool: agent
  jobs:
  - job: Backend
    steps:
    - task: NodeTool@0
      inputs:
        versionSource: spec
        versionSpec: 18.x
      displayName: Install NodeJS
    - bash: '#!/bin/bash
  
        set -e
  
        sudo apt-get update -y
  
        mkdir -p /opt/app/{dev,uat/prd}
  
        '
  ...

pipelines/frontend.yaml:
  pool: agent
  jobs:
  - job: React
    steps:
    - task: NodeTool@0
      inputs:
        versionSource: spec
        versionSpec: 18.x
    - bash: '#!/bin/bash
  
        set -e
  
        npm i
  
        '
      displayName: Install Packages
      workingDirectory: frontend
    - bash: '#!/bin/bash
  
        set -e
  
  ...

pipelines/nginx.yaml:
  pool: agent
  jobs:
  - job: nginx
    steps:
    - bash: '#!/bin/bash
  
        set -e
  
        sudo apt-get update -y
  
        sudo apt-get install nginx -y
  
        sudo systemctl enable nginx --now
  
        '
      displayName: Install Nginx
    - checkout: self
      clean: true
    - bash: '#!/bin/bash
  
        set -e
  
  ...

Merged PR 4: NGinx COnfig
  backend/package-lock.json
  nginx/nginx.conf
  nginx/sundarammutual.crt
  pipelines/backend.yaml
  pipelines/nginx.yaml
Due: pipelines/backend.yaml, pipelines/nginx.yaml

added complete integration
  backend/src/controllers/columnStatusPermission/columnStatusPermission.js
  backend/src/controllers/fetchColumn/fetchColumn.js
  backend/src/routes/routes.js
  frontend/src/components/ColumnConfigurator.tsx
  frontend/src/components/DropdownManager.tsx
  frontend/src/pages/Admin.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed all the type error for checker and maker
  frontend/src/pages/Admin.tsx
  frontend/src/pages/Checker.tsx
  frontend/src/pages/DashboardLayout.tsx
  frontend/src/services/api.ts
  frontend/src/types/checkerData.ts
Due: pipelines/frontend.yaml

there are some error in the admin
  frontend/src/components/ColumnConfigurator.tsx
  frontend/src/pages/Admin.tsx
  frontend/src/pages/Auth.tsx
  frontend/src/services/userApi.ts
  frontend/src/types/checkerData.ts
Due: pipelines/frontend.yaml

added dropdown and column configuration
  backend/src/controllers/ColumnPermission/ColumnPermission.js
  backend/src/controllers/fetchColumnDropdown/fetchColumnDropdown.js
  backend/src/controllers/updateColumnDropdown/updateColumnDropdown.js
  backend/src/routes/routes.js
  frontend/src/components/ColumnConfigurator.tsx
  frontend/src/components/DropdownManager.tsx
  frontend/src/pages/Admin.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added some waste code
  backend/src/controllers/fetchColumnStatus/fetchColumnStatus.js
  backend/src/routes/routes.js
  frontend/src/components/DropdownManager.tsx
  frontend/src/hooks/useGridData.ts
  frontend/src/pages/Auth.tsx
  frontend/src/services/api.ts
  frontend/src/types/requestData.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

alf is compleeted
  backend/src/routes/routes.js
  frontend/src/components/grid/GridTable.tsx
  frontend/src/hooks/use-grid-table.ts
  frontend/src/hooks/useGridData.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

feature is working just have to fix the looks
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/grid/GridTable.tsx
Due: pipelines/frontend.yaml

added boiler plate
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/grid/GridTable.tsx
Due: pipelines/frontend.yaml

fixed the dropdown feature on the admin side
  backend/src/controllers/fetchColumnStatus/fetchColumnStatus.js
  backend/src/controllers/fetchDropdownOptions/fetchDropdownOptions.js
  backend/src/controllers/updateColumnDropdown/updateColumnDropdown.js
  backend/src/routes/routes.js
  frontend/src/components/DropdownManager.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added backend code for integration with maker
  backend/src/controllers/fetchDropdownOptions/fetchDropdownOptions.js
Due: pipelines/backend.yaml

Added frontend dropdown feature
  backend/src/routes/routes.js
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/grid/GridTable.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added boilerplate
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Adminlogin.tsx
  frontend/src/components/MainContent.tsx
  frontend/src/components/dashboard/Sidebar.tsx
  frontend/src/components/dashboard/UserMenu.tsx
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/hooks/use-mobile.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
Due: pipelines/frontend.yaml

added final boilerplate
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/hooks/useTables.ts
Due: pipelines/frontend.yaml

added final boilerplate
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/hooks/use-mobile.tsx
  frontend/src/hooks/useTables.ts
Due: pipelines/frontend.yaml

fixed editDialog typescript errors
  frontend/src/components/grid/EditDialog.tsx
Due: pipelines/frontend.yaml

fixed all error of admix.tsx
  frontend/src/pages/Admin.tsx
  frontend/src/pages/Auth.tsx
  frontend/src/services/userApi.ts
  frontend/src/types/user.ts
Due: pipelines/frontend.yaml

fixed normla ts error in hooks
  backend/src/controllers/requestData/requestData.js
  backend/src/controllers/table/table.js
  frontend/src/hooks/use-toast.ts
  frontend/src/hooks/useTables.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed addDialog component
  frontend/src/components/grid/AddDialog.tsx
Due: pipelines/frontend.yaml

adding a boilerplate
  frontend/src/components/grid/GridTable.tsx
Due: pipelines/frontend.yaml

fixed the error but this is causing one issue that label name is not displaying
  frontend/src/hooks/useGridData.ts
Due: pipelines/frontend.yaml

fixed the issue
  frontend/src/hooks/useGridData.ts
  frontend/src/types/grid.ts
Due: pipelines/frontend.yaml

fixed GridTable
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/grid/GridTable.tsx
  frontend/src/types/grid.ts
Due: pipelines/frontend.yaml

added boilerplate
  frontend/src/types/grid.ts
Due: pipelines/frontend.yaml

fixed errors
  frontend/src/components/ColumnConfigurator.tsx
  frontend/src/components/grid-table/column-renderer.tsx
  frontend/src/components/grid-table/edit-modal.tsx
  frontend/src/components/grid-table/grid-table.tsx
  frontend/src/components/grid-table/validation-utils.ts
  frontend/src/components/grid/CellRenderer.tsx
Due: pipelines/frontend.yaml

Path conditions:
  pipelines/backend.yaml: any of: backend, pipelines/backend.yaml
  pipelines/frontend.yaml: any of: frontend, pipelines/frontend.yaml
  pipelines/nginx.yaml: any of: nginx, pipelines/nginx.yaml
